tesseract-ocr
libtesseract-dev
ocrmypdf
tesseract-ocr-eng
tesseract-ocr-deu
tesseract-ocr-por
tesseract-ocr-spa
tesseract-ocr-rus
tesseract-ocr-fra
tesseract-ocr-chi-sim
tesseract-ocr-jpn
tesseract-ocr-kor
tesseract-ocr-hin